.titleHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.122), rgba(0, 0, 0, 0.826));
    color: white;
    position: relative;
    top: -100px;
    padding: 50px;
}

.cardsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardEventosScroll {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 10px;
    overflow-x: scroll;
    width: 100%;
    }

.buttonGroup {
    display: flex;
    justify-content: right;
    margin: -3% 9% 0% 0%;
}

.boton {
    margin: 1px;
}

.headerImgDiv{
    width: 100%;
    position: relative;
}

.headerImg{
    width: 100%;
    height: 350px;
    
}