*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.greeting {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.cardsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonGroup{
    display: flex;
    justify-content: right;
    margin: 0% 9% 1% 0%;
}

.boton{
    margin: 1px;
}

/* Carrousell */

.carrousel{
    width: 100%;
    max-width: 120em;
    padding: 1em;
    /* background-color: aqua; */
    overflow: hidden;
}

.contenedorPrincipal{
    width: 300%;
    background-color: orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 1.2em; */
    position: relative;
    box-shadow: 1px 6px 10px;

    transition: all 1s ease;
    transform: translateX(-0.33%);
}

.img{
    width: calc(100% / 2 - 2em);
    height: 300px;
    background-color: green;
}

.puntos{
    width: 100%;
    padding: 2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(240, 248, 255, 0);
    top: 426px;
}

.punto{
    width: 1.5em;
    margin: 1em 1em 0;
}

.activo{
    color: rgb(142, 142, 142);
}

/* Carrousel viejo */

.contentItemCarrusel{
    height: 200px;
    overflow: hidden;
}

.itemCarrusel {
    height: 100%;
    position: relative;
}

.tarjetaCarrusel{
    background-color: rgb(97, 161, 161);
    height: 100%;
}

.flechasCarrusel{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

i{
    color: rgba(255, 255, 255, 0.376);
}

#contenedorPuntos{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 310px;
}

#contenedorPuntos > a {
    margin: 0px 20px 0px 20px;
    font-size: 0.7rem;
    color: white;

}