.cardEventos{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 200px;
    box-shadow: 1px 2px 8px #888888;
    transition: 0.4s ease-out;
}

.cardEventos:hover{
    transform: translateY(10px);
    opacity: 0.8;
}

.info{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0px;
    width: 100%;
    font-size: 1rem;
    color: white;
    border-radius: 3%;
    background-color: #00000071;
    padding: 125px 0px;
    transition: 0.5s;
    opacity: 0;
}

.info:hover{
    opacity: 1;
}