.botonCart {
    display: flex;
    justify-content: center;
}

.inputGroup {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inputCount{
    text-align: center;
}

.botonEvento{
    width: 100%;
    margin: 5px;
}

.boton{
    background-color: rgb(234, 234, 234);
    box-shadow: 1px 1px 5px;
    padding: 3px 10px;
    border: 0;
}

.span{
    border: 1px solid rgb(93, 93, 93);
    margin: 0px;
    padding: 5px 40px;
}