.botonCart {
    display: flex;
    justify-content: center;
}

.inputGroup {
    display: flex;
    justify-content: center;
    width: 100%;
}

.eventosCount {
    border: 0;
    border-color: rgb(190, 189, 189);
    border-radius: 0%;
}