
.ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgb(183, 183, 183);
  background-color: #ffffff;
  margin: 0px;
}

.ulDark{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgb(183, 183, 183);
  background-color: #212529;
  margin: 0px;
}

.bDark{
  color: white;
}

.cartDark{
  color: rgb(255, 255, 255);
  font-size: x-large;
}

.cartLight{
  color: rgb(0, 0, 0);
  font-size:x-large;
}

li {
  display: block;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
}

li:hover {
  background-color: #ddd;
  border-radius: 8%;
}

.liDark:hover {
  background-color: rgba(44, 44, 99, 0.587);
  border-radius: 8%;
}

.headerBar {
  background-color: rgb(48, 48, 48);
  width: 100%;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: small;
  margin: 0;
}

.select{
  border-radius: 10%;
}

.link{
  text-decoration: none;
  color:rgb(0, 0, 0)
}

.themeCart{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.imgLogo{
  width: 50%;
  display: flex;
  justify-content: center;
}

