.contenedorPrincipal{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 20px;
    box-shadow: 0px 2px 5px;
}

.contenedorItem{
    display: flex;
    margin: 20px;
    width: 90%;
}

.description{
    display: flex;
    flex-direction: column;
}

.description > p {
    margin: 5px 20px;
}

.nombreEvento{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: gainsboro;
}

img{
    width: 200px;
    box-shadow: 2px 2px 10px;
}

.remove{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    cursor: pointer;
    padding: 0px 20px;
}

.count{
    margin: 20px;
}

.boton{
    border-radius: 5px;
}

